    <!--====== SCRIPTS JS ======-->
    <script src="{{theme.link}}/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="{{theme.link}}/assets/js/vendor/bootstrap.min.js"></script>

    <!--====== PLUGINS JS ======-->
    <script src="{{theme.link}}/assets/js/vendor/jquery.easing.1.3.js"></script>
    <script src="{{theme.link}}/assets/js/vendor/jquery-migrate-1.2.1.min.js"></script>
    <script src="{{theme.link}}/assets/js/jquery.pogo-slider.js"></script>
    <script src="{{theme.link}}/assets/js/owl.carousel.min.js"></script>
    <script src="{{theme.link}}/assets/js/stellar.js"></script>
    <script src="{{theme.link}}/assets/js/wow.min.js"></script>
    <script src="{{theme.link}}/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="{{theme.link}}/assets/js/jquery.sticky.js"></script>

    <!--===== ACTIVE JS=====-->
    <script src="{{theme.link}}/assets/js/main.js"></script>
</body>

</html>