{% extends "base.twig" %} {% block content %} {% for key,item in post %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#myPage"><img src="{{logo.url}}" alt="logo"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    {% for keys,item in menu.get_items %}
                    <li class="page-scroll"><a href="#{{item.title | lower}}">{{item.title}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="slider-area">
        <div class="pogoSlider">
            {% for post in slider %}
            <div class="pogoSlider-slide" data-transition="fade" data-duration="1500" style="background:url('{{Image(post.background).src}}') no-repeat scroll 0 0 / cover;">
                <h2 class="pogoSlider-slide-element" data-in="slideDown" data-out="fade" data-duration="700">{{post.main_text}}</h2>
                <P class="pogoSlider-slide-element" data-in="expand" data-out="fade" data-duration="1500">{{post.small_text}}</P>
                <div class="pogoSlider-slide-elemen"><a href="#reservation-form-modal" class="btn btn-primary reservation_box">Reservation</a></div>
                {#
                <div class="pogoSlider-slide-element" data-in="slideUp" data-out="flipX" data-duration="700"><a href="#reservation-form-modal" class="btn btn-primary reservation_box">Reservation</a></div> #}
            </div>
            {% endfor %}
        </div>
    </div>
    <section id="about" class="whoAreWe">
        <div class="container">
            <div class="row">
                <div class="col-md-6 side_text wow slideIneft">
                    <h3 class="text-uppercase title" style="margin:0;">who are we <hr class="title_hr">  </h3>
                    <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae est at dolor auctor faucibus. Aenean hendrerit lorem eget nisi vulputate, vitae fringilla ligula dignissim. Phasellus feugiat quam efficitur, faucibus augue nec, aliquam nulla. Maecenas lectus elit, dignissim nec volutpat eu, lacinia vitae diam. Nullam ac magna at risus faucibus pulvinar. Etiam congue felis sapien, viverra pellentesque libero porta iaculis. Sed et condimentum velit.</p>
                    <div class="btn btn-blank">What We do</div>
                </div>
                <div class="col-md-6 side_image wow slideInRight">
                    <img src="http://sktthemesdemo.net/blendit/wp-content/themes/blendit/images/thumb_04.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <section id="moreAboutUs">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3 class="text-uppercase title">More about us<hr class="title_hr"> </h3>
                </div>
            </div>
            <div class="row wow bounceInDown">
                <div class="col-md-3 text-center">
                    <div class="fourbox">
                        <img src="http://sktthemesdemo.net/blendit/wp-content/themes/blendit/images/thumb_05.jpg" alt="" class="img-responsive text-center" style="margin:0 auto;">
                        <h4 class="text-uppercase">awesone design</h4>
                        <p>Donec a mattis augue. Fusce porttitor, risus ac tincidunt gravida, libero eros ullamcorper massa, ac fringilla felis magna id nisi. Vivamus tortor metus, venenatis</p>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="fourbox">
                        <img src="http://sktthemesdemo.net/blendit/wp-content/themes/blendit/images/thumb_05.jpg" alt="" class="img-responsive text-center" style="margin:0 auto;">
                        <h4 class="text-uppercase">awesone design</h4>
                        <p>Donec a mattis augue. Fusce porttitor, risus ac tincidunt gravida, libero eros ullamcorper massa, ac fringilla felis magna id nisi. Vivamus tortor metus, venenatis</p>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="fourbox">
                        <img src="http://sktthemesdemo.net/blendit/wp-content/themes/blendit/images/thumb_05.jpg" alt="" class="img-responsive text-center" style="margin:0 auto;">
                        <h4 class="text-uppercase">awesone design</h4>
                        <p>Donec a mattis augue. Fusce porttitor, risus ac tincidunt gravida, libero eros ullamcorper massa, ac fringilla felis magna id nisi. Vivamus tortor metus, venenatis</p>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="fourbox">
                        <img src="http://sktthemesdemo.net/blendit/wp-content/themes/blendit/images/thumb_05.jpg" alt="" class="img-responsive text-center" style="margin:0 auto;">
                        <h4 class="text-uppercase">awesone design</h4>
                        <p>Donec a mattis augue. Fusce porttitor, risus ac tincidunt gravida, libero eros ullamcorper massa, ac fringilla felis magna id nisi. Vivamus tortor metus, venenatis</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="CoreFeature">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="text-uppercase title text-left" style="margin:0"> core features<hr class="title_hr"> </h3>
                    <h3 class="highlighted"> Duis quis laoreet neque. Nulla ut auctor Donec est ligula,consequat</h3>
                    <p> Duis quis laoreet neque. Nulla ut auctor velit. Donec est ligula, consequat et lacus egestas, blandit egestas nunc. Praesent vestibulum ex nec neque eleifend, non commodo dolor scelerisque. Donec feugiat magna elit, quis gravida est luctus at. Mauris dictum ornare dui ac lobortis. Praesent pharetra rutrum eros, eu mattis dolor interdum eget. Aenean aliquam suscipit fermentum. Maecenas cursus sodales ante id luctus. Etiam pharetra ipsum a accumsan iaculis. Integer ut sodales sapien. Sed a molestie odio. Sed tempus nisi vitae congue cursus. Ut a auctor nibh, non egestas arcu. Proin sed volutpat lectus, ac malesuada justo. Vivamus mollis ipsum ut enim gravida, sed volutpat massa finibus. Nam mi lorem, condimentum vel est id, pellentesque accumsan diam. Pellentesque venenatis quis mi sed commodo. Etiam semper dui sed quam egestas, vel interdum risus interdum.</p>
                    <button class="btn btn-blank"> View more Features</button>
                </div>
                <div class="col-md-6">
                    <img src="  http://sktthemesdemo.net/blendit/wp-content/themes/blendit/images/image-thum1.png" class="img-responsive" alt="features_screen">
                </div>
            </div>
        </div>
    </section>
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3 class="text-uppercase title">what we do <hr class="title_hr">  </h3>
                    <h3 class="highlighted">Providing amazing services to our client worldwide</h3>
                </div>
                <div class="col-md-3 text-center wow bounceInDown">
                    <div class="fourbox">
                        <img src="http://sktthemesdemo.net/blendit/wp-content/themes/blendit/images/thumb_05.jpg" alt="" class="img-responsive text-center" style="margin:0 auto;">
                        <h4 class="text-uppercase">awesone design</h4>
                        <p>Donec a mattis augue. Fusce porttitor, risus ac tincidunt gravida, libero eros ullamcorper massa, ac fringilla felis magna id nisi. Vivamus tortor metus, venenatis</p>
                    </div>
                </div>
                <div class="col-md-3 text-center wow bounceInDown">
                    <div class="fourbox">
                        <img src="http://sktthemesdemo.net/blendit/wp-content/themes/blendit/images/thumb_05.jpg" alt="" class="img-responsive text-center" style="margin:0 auto;">
                        <h4 class="text-uppercase">awesone design</h4>
                        <p>Donec a mattis augue. Fusce porttitor, risus ac tincidunt gravida, libero eros ullamcorper massa, ac fringilla felis magna id nisi. Vivamus tortor metus, venenatis</p>
                    </div>
                </div>
                <div class="col-md-3 text-center wow bounceInDown">
                    <div class="fourbox">
                        <img src="http://sktthemesdemo.net/blendit/wp-content/themes/blendit/images/thumb_05.jpg" alt="" class="img-responsive text-center" style="margin:0 auto;">
                        <h4 class="text-uppercase">awesone design</h4>
                        <p>Donec a mattis augue. Fusce porttitor, risus ac tincidunt gravida, libero eros ullamcorper massa, ac fringilla felis magna id nisi. Vivamus tortor metus, venenatis</p>
                    </div>
                </div>
                <div class="col-md-3 text-center wow bounceInDown">
                    <div class="fourbox">
                        <img src="http://sktthemesdemo.net/blendit/wp-content/themes/blendit/images/thumb_05.jpg" alt="" class="img-responsive text-center" style="margin:0 auto;">
                        <h4 class="text-uppercase">awesone design</h4>
                        <p>Donec a mattis augue. Fusce porttitor, risus ac tincidunt gravida, libero eros ullamcorper massa, ac fringilla felis magna id nisi. Vivamus tortor metus, venenatis</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="ourSkills">
        <div class="container">
            <row>
                <div class="col md-12 text-center">
                    <h3 class="text-uppercase title">Our skills<hr class="title_hr"> </h3>
                    <div class="skill">
                        <p>HTML5</p>
                        <div class="skill-bar skill1 wow slideInLeft animated" style="width:95%">
                            <span class="skill-count1">95%</span>
                        </div>
                    </div>
                    <div class="skill">
                        <p>HTML5</p>
                        <div class="skill-bar skill1 wow slideInLeft animated" style="width:65%">
                            <span class="skill-count1">65%</span>
                        </div>
                    </div>
                    <div class="skill">
                        <p>HTML5</p>
                        <div class="skill-bar skill1 wow slideInLeft animated" style="width:25%">
                            <span class="skill-count1">25%</span>
                        </div>
                    </div>
                </div>
            </row>
        </div>
    </section>
    <section id="slider">
        <container>
            <row>
                <div class="col-md-12 text-center">
                    <h3 class="text-uppercase title"> what client said<hr class="title_hr"> </h3>
                </div>
            </row>
        </container>
    </section>
    <section id="portfolio">
        <div class="container-fluid ">
            <div class="col-md-12">
                <h3 class="text-uppercase title">works we did<hr class="title_hr"> </h3>
            </div>
            <div class="main">
                <section id="myBtnContainer" class="text-center">
                    <button class="btn-filter active" onclick="filterSelection(all)">All</button>
                    {% for key,post in works %} 
                        
                            <button class="btn-filter" onclick="filterSelection('{{post | lower }}')">{{post}}</button>
                        
                    
                    {% endfor %}
                </section>
            </div>
            <!-- Portfolio Gallery Grid -->
            <div class="row wow bounceIn">
                {% for key,post in works_posts %} 
                    <div class="column {{post}}">
                        <div class="content">
                            <img src="{{Image(post.image).src}}" alt="Mountains" style="width:100%">
                            <h4 class="hide">Mountains</h4>
                        </div>
                    </div>
                {% endfor %}
            </div>

                <!-- END GRID -->
        </div>
    </section>
    <section id="blog">
        <div class="container">
            <div class="row ">
                <div class="col-md-12 text-center">
                    <h3 class="text-uppercase title">Blog<hr class="title_hr"> </h3>
                </div>
                <div class="col-sm-4 wow bounce">
                    <div class="blog_box_wrapper">
                        <img src="http://sktthemesdemo.net/blendit/wp-content/uploads/2013/10/4076191146_3e3c754b05_z.jpg" alt="Paris" class="img-responsive">
                        <div class="cat_comments">
                            <h5><i class="fa fa-list"></i><a href="">Blog</a></h5>
                            <h5><i class="fa fa-comments"></i><span>1 Comments</span></h5>
                        </div>
                    </div>
                    <h4 class="text-uppercase">Post 1</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio quo nisi quisquam optio magni, sequi suscipit laboriosam reprehenderit, ex temporibus neque molestias, recusandae minus similique. Nobis harum ipsam sint neque!</p>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">ReadMore</button>
                </div>
                <div class="col-sm-4 wow bounce">
                    <div class="blog_box_wrapper">
                        <img src="http://sktthemesdemo.net/blendit/wp-content/uploads/2013/10/4076191146_3e3c754b05_z.jpg" alt="Paris" class="img-responsive">
                        <div class="cat_comments">
                            <h5><i class="fa fa-list"></i><a href="">Blog</a></h5>
                            <h5><i class="fa fa-comments"></i><span>1 Comments</span></h5>
                        </div>
                    </div>
                    <h4 class="text-uppercase">Post 1</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio quo nisi quisquam optio magni, sequi suscipit laboriosam reprehenderit, ex temporibus neque molestias, recusandae minus similique. Nobis harum ipsam sint neque!</p>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">ReadMore</button>
                </div>
                <div class="col-sm-4 wow bounce ">
                    <div class="blog_box_wrapper">
                        <img src="http://sktthemesdemo.net/blendit/wp-content/uploads/2013/10/4076191146_3e3c754b05_z.jpg" alt="Paris" class="img-responsive">
                        <div class="cat_comments">
                            <h5><i class="fa fa-list"></i><a href="">Blog</a></h5>
                            <h5><i class="fa fa-comments"></i><span>1 Comments</span></h5>
                        </div>
                    </div>
                    <h4 class="text-uppercase">Post 1</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio quo nisi quisquam optio magni, sequi suscipit laboriosam reprehenderit, ex temporibus neque molestias, recusandae minus similique. Nobis harum ipsam sint neque!</p>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">ReadMore</button>
                </div>
            </div>
        </div>
    </section>
    <section id="team">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h3 class="text-uppercase title"> Team members<hr class="title_hr"> </h3>
                </div>
                <div class="col-sm-3 wow bounceInUp">
                    <div class="team_box">
                        <img src="http://sktthemesdemo.net/blendit/wp-content/uploads/2013/10/rophel-stuart.jpg" alt="Paris" class="img-resoponsive">
                        <p><strong>Jane Doe</strong></p>
                        <p>Designer</p>
                        <ul class="list-inline team_member_social">
                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
                            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa fa-instagra"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3 wow bounceInUp">
                    <div class="team_box">
                        <img src="http://sktthemesdemo.net/blendit/wp-content/uploads/2013/10/rophel-stuart.jpg" alt="Paris" class="img-resoponsive">
                        <p><strong>Jane Doe</strong></p>
                        <p>Designer</p>
                        <ul class="list-inline team_member_social">
                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
                            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa fa-instagra"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3 wow bounceInUp">
                    <div class="team_box">
                        <img src="http://sktthemesdemo.net/blendit/wp-content/uploads/2013/10/rophel-stuart.jpg" alt="Paris" class="img-resoponsive">
                        <p><strong>Jane Doe</strong></p>
                        <p>Designer</p>
                        <ul class="list-inline team_member_social">
                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
                            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa fa-instagra"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3 wow bounceInUp">
                    <div class="team_box">
                        <img src="http://sktthemesdemo.net/blendit/wp-content/uploads/2013/10/rophel-stuart.jpg" alt="Paris" class="img-resoponsive">
                        <p><strong>Jane Doe</strong></p>
                        <p>Designer</p>
                        <ul class="list-inline team_member_social">
                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
                            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa fa-instagra"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="container text-center">
            <h3 class="text-uppercase title"> contact us<hr class="title_hr"> </h3>
            <div class="row">
                <div class="col-md-9">
                    <h3 class="text-left">Feedback Form</h3>
                    <form action="">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="name" placeholder="Name">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" id="email" placeholder="Name">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="phome" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <textarea name="" id="" cols="30" rows="7"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3 text-left">
                    <h3 class="">Address</h3>
                    <h5>{{address}}</h5>
                    <hr>
                    <h5>PHONE: {{phone}}</h5>
                    <h5>EMAIL: {{email}}</h5>
                    <hr>
                    <h5>WORKING HOURS: <br>{{workind_days}} {{working_time}}</h5>
                </div>
            </div>
        </div>
    </section>
    <section id="connect">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="connect_us list-inline text-center">
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-left">
                    <ul class="list-inline foot_links">
                        {% for keys,item in menu.get_items %}
                            <li class="page-scroll"><a href="#{{item.title | lower}}">{{item.title}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-6 text-right">
                    <span>© 2015 Blendit. All Rights Reserved.</span>
                </div>
            </div>
        </div>
    </section>
    {% endfor %} {% endblock %}